@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');
/* reset della pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* regole generali */
body {
  font-family: Montserrat, sans-serif;
  color: #33475b;
}
a, a:visited {
  text-decoration: none;
}
h1, h2, h3, p {
  margin: 20px 0;
}
.p-pic {
  font-size: 12px;
}
.container {
  padding: 0 15%;
}
/* blocchi di testo */
.block {
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
/* clearfix dei float */
.wrapper:after, .box:after {
  content: "";
  display: table;
  clear: both;
}
/* float generico per le colonne */
[class*="col-"] {
  float: left;
}
/* regole per i pulsanti (di tipo a) */
.button {
  display: inline-block;
  background-color: #fe775a;
  padding: 20px 30px;
  border-radius: 5px;
  color: #fff;
}
.button:hover {
  transition: 0.5s;
  background-color: rgba(254, 119, 90, 0.6);
}
.login {
  display: inline-block;
  background-color: transparent;
  padding: 10px;
  border: 1px solid #fe775a;
  border-radius: 5px;
  color: #fe775a;
}
.login:hover {
  transition: 0.5s;
  background-color: rgba(254, 119, 90, 0.3);
}

/* regole per i menu di navigazione inline */
ul.inline-menu {
  list-style-type: none;
  overflow: hidden;
}
li.inline-menu-item {
  /* float: left; */
  display: inline-block;
}
li.inline-menu-item a {
  display: block;
  padding: 0 20px;
  color: #33475b;
}
li.inline-menu-item a:hover {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.2);
}
li.inline-menu-item a:visited {
  color: #33475b;
}
li.inline-menu-item .button,
li.inline-menu-item .button:visited {
  color: #fff;
}
li.inline-menu-item .button:hover {
  transition: 0.5s;
  background-color: rgba(254, 119, 90, 0.6);
}
li.inline-menu-item .login,
li.inline-menu-item .login:visited {
  color: #fe775a;
}
li.inline-menu-item .login:hover {
  transition: 0.5s;
  background-color: rgba(254, 119, 90, 0.3);
}

/* header */
header {
  height: 830px;
  /* debug */
}
/* stili generali per menu header */
#language::after,
.navbar ul li a::after {
  content: ' \25BC';
}
#language {
  border-right: 1px solid lightgrey;
  padding-left: 0;
}
ul li a img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  margin: 0 5px;
}

/* menu fixed */
.nav-fixed {
  height: 80px;
  line-height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #f4f9fd;
  border-bottom: 1px solid lightgrey;
}
.nav-fixed .wrapper {
  padding: 20px 0;
}
.nav-fixed .col-1, .nav-fixed .col-2 {
  width: 50%;
}
.nav-fixed .nav-fixed-right {
  text-align: right;
  /* debug */
  /* background-color: red;
  height: 100%; */
}
.nav-fixed-right .login,
.nav-fixed-right .button {
  margin-left: 10px;
}

/* menu top */
.nav-top {
  /* margine superiore per lasciare spazio al menu con position fixed */
  margin-top: 80px;
  height: 80px;
  line-height: 40px;
}
.nav-top .wrapper {
  padding: 20px 0;
}
.nav-top .logo {
  width: 15%;
  padding-top: 5px;
}
.nav-top .navbar {
  width: 85%;
  text-align: right;
}

/* jumbotron */
.jumbo {
  position: relative;
  height: 750px;
  background: #fff4ef url(../img/jumbotron.png) no-repeat bottom right;
  background-size: cover;
}
.jumbo-content {
  width: 25%;
  position: absolute;
  top: 10%;
  left: 15%;
}
.jumbo-content h1 {
  font-size: 50px;
}
.jumbo-content p:first-of-type {
  margin: 40px 0;
  line-height: 2em;
}
.hubspotfree {
  width: 40%;
}
.hubspotfree .p-pic {
  margin: 40px 0;
}

/* main */

/* sezione 1 */
.section1 {
  background-color: #f4f9fd;
  /* debug */
  /* height: 200px; */
}

/* rubik */
.rubik {
  text-align: center;
  padding: 50px;
  /* debug */
  /* height: 100px; */
  /* background-color: red;  */
}
.rubik img {
  width: 300px;
}
.rubik h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}
.rubik p {
  font-weight: bold;
}

/* crm */
.crm {
  padding: 50px;
}
.crm .col-1 {
  width: 20%;
  margin: 0 10%;
}
.crm .col-2 {
  width: 50%;
  margin-right: 10%;
}
.crm .col-1 img {
  display: block;
  width: 150px;
  margin: 0 auto 30px;
}
.crm .col-1 a {
  display: block;
  text-align: center;
}
.crm .col-2 ul li {
  margin: 0 20px;
}
.crm .col-2 h3,
.crm .col-2 span {
  display: inline-block;
  width: 39%;
  height: 40px;
  line-height: 40px;
}
.crm .col-2 span {
    width: 60%;
}
.crm .col-2 ul {
  padding-bottom: 5px;
}
.crm .col-2 ul li:before {
    content: "";
    background: url("../img/Orange_Checkmark.svg") no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
  }

/* cards */
.cards {
  padding: 50px 0;
}
.cards [class*="col-"] {
  width: 30%;
  padding: 20px;
  text-align: center;
}
.cards .col-2 {
  margin: 0 5%;
}
.cards [class*="col-"] img {
  height: 100px;
}
.cards [class*="col-"] ul {
  list-style-type: none;
  text-align: left;
  margin-bottom: 40px;
}
.cards [class*="col-"] ul li:before {
    content: "";
    background: url("../img/Orange_Checkmark.svg") no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
  }


/* footer */
footer {
  background-color: #32495b;
  /* debug */
  height: 800px;
}
